<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-toolbar>
            <span color="primary">
                Menu
            </span>
        </mat-toolbar>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>

        <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
        <div *ngIf="!isLogged; else viewOpenSide">

        </div>
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #viewOpenSide>
    <div class="open-sidebar" (mouseenter)="sidenav.toggle()">

    </div>
</ng-template>