<div class="background">

    <div class="login-form">
        <mat-card>
            <mat-card-content>

                <h1>Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <mat-form-field class="full-width-input">
                        <input type="text" matInput placeholder="Email" required formControlName="email">
                        <mat-error *ngIf="isValid('email')">
                            {{getErrorMessage("email")}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                        <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" required formControlName="password">
                        <a mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>
                                {{hide ? "visibility_off" : "visibility"}}
                            </mat-icon>
                        </a>
                        <mat-error *ngIf="isValid('password')" #pass>
                            {{ !auth ? getErrorMessage('password') : "Password invalid" }}
                        </mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="!auth">
                        Password incorrect
                    </mat-error>
                    <button [disabled] = "loginForm.invalid" type="submit" mat-raised-button color="primary" class="button-login">
                        Login
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>