<div id="loading" *ngIf="!finished">
    <mat-spinner></mat-spinner>
</div>

<!-- <button (click)="createOrEditNote()">
    click
</button> -->

<div class="div-new-note" *ngIf="finished">
    <mat-card color="accent" class="new-note" (click)="createOrEditNote()">Create new note...</mat-card>
</div>
<div class="grid" #grid (mouseenter)="closeSidebar()" (click)="closeSidebar()">
    <!-- <div class="open-sidebar" (mouseenter)="openSidebar()">

    </div> -->
    <div class="" *ngFor="let note of notes" #notesContainer >



        <div class="note">

            <mat-card class="note-content"  (click)="createOrEditNote(note)">
                <button mat-icon-button class="close-note" matTooltip="Delete note" matTooltipPosition="below" (click)="deleteNote(note.id)">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
                <mat-card-header class="header-note">
                    <mat-card-title class="text-header">
                        {{note.titleReduced ? note.titleReduced : note.title}}
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content class="content" >
                    <div class="text-description">
                        {{note.descriptionReduced ? note.descriptionReduced : note.description}}
                    
                    </div>

                    <div class="tags" id="tags">
                        <div *ngFor="let tag of note.tags; " class="tag" (click)="removeTag(tag, note.id)" #tag>
                            {{tag}}
                            
                                    <button class="delete-tag" mat-icon-button  >
                                        <mat-icon style="font-size: 14px;"  matTooltip="Delete tag" matTooltipPosition="above">
                                            close
                                        </mat-icon>
                                    </button>
                            
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>